.board {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 700px;
}

.column-card-list {
  min-height: 50px;
  border: 1px solid #ccc;
}

.card‑placeholder {
  background: red;
}

.create-column {
  background: #7ade4e;
  width: 200px;
}
.add-card {
  display: inline-block;
  background: #7ade4e;
}

.btn-delete {
  display: inline-block;
  background: #f81127;
  text-shadow: 2px 1px 4px #aaa;
}

.card-description {
  display: inline-block;
  padding-left: 20px;
}

li {
  list-style-type: none;
}